@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rowdies&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    
}

nav a{
    text-align: center;
    text-decoration: none;
    color:#2E282A ;
    padding: 35px;
}

body{
    background-color: white;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';

}
h2{
    font-family: 'Roboto';
}
#rivers{
    margin:auto 30px
}
header{
    background-color: #FFC914;
    font-family: 'Rowdies';
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: white ;
    color:pink;
}


footer{
    background-color: #2E282A;
    color:pink;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    
    text-decoration: none;
    color:pink;

}
footer a:hover{
    background-color: #FFC914;
    color: white;
    
}
footer p{
    font-size:1.2em ;
    
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
}
#grand-canyon{
    width: 160px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    
  
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}